.contactoFooter{
    color:#8C939A;
    background-color: #212529;
    padding: 2% 0% 1% 0%;
}

.linea {
    margin-right: 5%;
  }

.marginRight{
    margin-right: 20vh;
}
.menssageFooter{
    width: 100%;
}
.conterner{
    background-color: #212529;
}