html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer {
    background-color: #191B21;
   
 
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 767px) {
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      
    }
  }
  
  /* Estilos para pantallas más grandes */
  @media (min-width: 768px) {
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }