.title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 1%;

}

.h2-style {
  font-family: Roboto;
  font-weight: bold;
  /*color: #DA4715;*/
  color: white;
  font-size: 3em;
  
}

.rc-section-title{
  font-family: Roboto;
  font-weight: bold;
  color: white;
}
.container{
  margin-bottom: 1%;
}

.containerCarousel {
  padding: 2% 0% 3% 0%;

}

.carousel-item img {
 filter: brightness(70%) saturate(100%);
 transition: filter 0.3s ease-in-out;
 max-height: 450px;
 width: 100%;
}

.carousel-item img:hover{
  filter: brightness(100%) saturate(100%);
}


@media screen and (max-width: 350px) {
  .carousel-item img {
    filter: brightness(70%) saturate(100%);
    transition: filter 0.3s ease-in-out;
    height: 130px;
    width: 100%;
  
   }
}

@media screen and (max-width: 250px) {
  .carousel-item img {
    filter: brightness(70%) saturate(100%);
    transition: filter 0.3s ease-in-out;
    height: 105px;
    width: 100%;
  
   }
}

@media screen and (max-width: 200px) {
  .carousel-item img {
    filter: brightness(70%) saturate(100%);
    transition: filter 0.3s ease-in-out;
    height: 80px;
    width: 100%;
   
   }
}

.index {
  flex: 1;
  width: 100%;
  margin: 0;
}

.info {
  background-color: #212529;
  padding-bottom: 1%;
  padding-top: 1%;
  
}
.continfo{
  padding: 1% 5% 1% 5%;
}
.continfobeneficios{
  padding: 2% 0% 1% 0%;
  color: white;
}

.incoSize{
  font-size: 30px;

}

@media (max-width: 767px) {
  
  .index {
    flex: 1;
    width: 100%;
  }
  
  .info {
    background-color: #212529;
    padding-bottom: 3%;
    padding-top: 3%;
    
    
  }
  .continfo{
    padding: 0%;
    margin: 0;
  }
  .continfobeneficios{
    padding: 6%;
    margin: 6;
    color: white;
  
  }


}
