.paginate-left{
    color: rgb(26, 25, 25);
    font-size: 24px; 
    margin-left: 1%;
    
  }

  .paginate-right {
    color: rgb(26, 25, 25);
    font-size: 24px; 
   
    
  }

  .page-count {
    color: #333;
    padding: 8px;
    border-radius: 4px;
   
  }

/*Los de indexRent */
  .left-paginate-arrow-indexrent{
    font-size: 24px; 
    color:#8C939A;
    margin-left: 5vh;
  }
  .rigth-paginate{
    font-size: 24px; 
    color:#8C939A;
   
  }

  .indexrent-page-count{
    color:#8C939A;
    padding: 8px;
    border-radius: 4px;
  }
  
