.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    margin-top: 4%;

  }

  .content {
    text-align: center;
  }
  .errorSmall{
    color: red;
  }
  .errorDiv{
      margin-bottom: 5%;
  }