body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
  }

body{
background: #23272F;

}



@media (max-width: 767px) {
    .container{
        margin-Bottom:25%;
      
    }
  }
  